@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Anonymous+Pro:wght@400;700&display=swap");

/* Colors */
:root {
  --lightgray: #e0e0e0;
  --gray: #c0c0c0;
  --darkgray: rgb(51, 51, 51);
  --almostblack: #1b1b1b;
  --navy: #17050f;
  --blue: #082840;
  --white: rgb(255, 255, 255);
  --offwhite: #f6f6f6;
  --yellowgreen: #aaff00;
  --lightblue: rgb(0, 225, 255);
  --red: #af0000;
  --highlight: linear-gradient(
    130deg,
    rgb(9, 0, 189) 0%,
    rgba(121, 9, 82, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: auto;
  max-width: 50em;
  font-family: -apple-system, system-ui, sans-serif;
  color: var(--white);
  background-color: var(--almostblack);
}

h1,
h2,
h3,
h4,
h5,
h6,
header {
  font-family: "Roboto Slab", serif;
}

.monospace {
  font-family: "Anonymous Pro", monospace;
  font-weight: 700;
  font-size: 1.2em;
}
.view-wrapper {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.view-title {
  margin-top: 0;
}

ol {
  margin: 0;
  padding: 0;
}
ol li {
  list-style-type: none;
}

p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li,
img {
  max-width: 45em;
}
p,
.tmpl-post li {
  line-height: 1.45;
}
a[href] {
  color: var(--white);
}

a[href]:hover,
a.active {
  color: var(--yellowgreen);
}

main {
  padding: 1rem;
}
main :first-child {
  margin-top: 0;
}
header {
  border-bottom: 1px dashed var(--lightgray);
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  margin-bottom: 0.5em;
}
header:after {
  content: "";
  display: table;
  clear: both;
}

.hero {
  padding: 2em;
  background: rgb(2, 0, 36);
  background: linear-gradient(238deg, #0080ff, #00f, #8000ff);
  border-radius: 5px;
  color: var(--white);
  box-shadow: black 5px 5px 2px;
}

/* Header */

/* Nav */
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.home {
  padding: 0 1rem;
  font-size: 1em; /* 16px /16 */
  /* font-family: "Montserrat", sans-serif; */
}
.home :link {
  text-decoration: none;
}

.nav {
  padding: 0;
  list-style: none;
  margin-left: 1em;
  display: flex;
  align-items: center;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

::-moz-selection {
  background: var(--lightblue);
  color: var(--darkgray);
}
::selection {
  background: var(--lightblue);
  color: var(--darkgray);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6em 0 2em;
}

.footer-text {
  font-size: 0.8em;
  font-weight: bold;
  color: var(--gray);
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

.animated-rainbow-hover:hover,
.animated-rainbow-hover:focus {
  color: var(--white);
  background: linear-gradient(
    238deg,
    red,
    #ff8000,
    #ff0,
    #80ff00,
    #0f0,
    #00ff80,
    #0080ff,
    #00f,
    #8000ff,
    #ff0080
  );
  background-size: 1200% 1200%;
  -webkit-animation: rainbow 16s ease infinite;
  -z-animation: rainbow 16s ease infinite;
  -o-animation: rainbow 16s ease infinite;
  animation: rainbow 16s ease infinite;
}

input,
textarea,
select {
  margin-right: 1em;
  padding: 0 1em;
  height: 25px;
  border-radius: 5px;
  border: none;
}

textarea {
  height: auto !important;
  padding: 1em;
}

button {
  background-color: var(--white);
  border-radius: 5px;
  border: none;
  height: 25px;
  line-height: 25px;
  padding: 0 1em;
  margin-right: 1em;
}

button:hover {
  cursor: pointer;
}

button.danger-button {
  background-color: var(--red);
  color: var(--white);
  font-weight: bold;
}

button.danger-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0;
}

label {
  color: var(--offwhite);
  font-size: 0.9em;
  margin-bottom: 0.2em;
}

.margin-bottom {
  margin-bottom: 25px;
}

.note-container {
  padding: 15px;
  border-bottom: 1px dashed var(--lightgray);
  display: flex;
  justify-content: space-between;
}
.new-note-container {
  padding: 25px 10px;
}
.note-container:hover {
  background: var(--darkgray);
}

.note-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.note-content {
  white-space: pre-wrap;
}

.delete-button {
  width: 30px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: var(--red);
}
